/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 0,
  'GRAD' 0,
  'opsz' 24
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	padding-top: 60px;
}
#body-login {
	padding-top: 0;
}
header {
	display: flex;
	flex-direction: column;
}
#header-edit {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	/*display: none;*/
	display: flex;
	width: 100vw;
	padding: 20px 0;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: black;
	color: white;
}
.edit {
	display: flex;
	flex-direction: row;
	gap: 12px;
	justify-content: center;
	color: white;
}
#header-top {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-top: 20px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
nav a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

nav a:hover {
    color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 0.5em;
}
.project-title {
	margin-top: 8em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
}
.modify {
	margin-left: 10px;
}
#login {
	display: flex;
	align-items: center;
	flex-flow: column wrap;
}
#loginForm {
	display: flex;
	flex-direction: column;
}
.filter-container {
	justify-content: center;
	margin: 2em 10em;
}
/* Style pour cacher les filtres */
.filter-container.hidden {
    display: none;
}
.filter-btn {
	font-family: 'Syne';
	font-weight: 700;
	color: 1D6154;
	background-color: white;
	margin : 2em 0.5em ;
	width: 170px;
	text-align: center;
	border-radius: 60px;
	padding: 0.5em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
.modal {
	background-color: rgba(0,0,0,0.35);
	position: fixed;
	top: 18%;
	left: 0;
	/*right: 0;
	bottom: 0;*/
	width: 100%;
	z-index: 1000;
	visibility: visible;
	display: flex;
}

.overlay {
	background:rgba(240, 235, 235, 0);
	position: absolute;
	width: 100%;
	height: 100%;
}
.modal-content {
	border-radius: 8px;
	background-color: white;
	max-width: 42vw;
	/*max-height: 80vh;*/
	margin: auto;
	/*padding: auto;*/
	flex: 1;
	position: relative;
	
}
.modal-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
	margin-right: 15px;
	margin-top: 16px;
	cursor: pointer;
}
.modal-return {
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
	margin-left: 15px;
	margin-top: 16px;
	cursor: pointer;
}
.modal-header {
	display: flex;
	justify-content: center;
	padding: 30px;
}
.modal-gallery {
	max-width: 48vw;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 25px;
	padding: 0 7vw;
}
.modal-gallery img {
	width: 100%;
	max-width: 80vw;
	max-height: 80vh;
	object-fit: cover;
	
}
.modal-footer {
	display: flex;
	justify-content: center;
	padding: 20px;
}
.modal-adding {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.addImg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 420px;
	height: 150px;
	background-color: #E8F1F6;
}
.addImg i {
	margin-bottom: 50px;
	color: #c4c8cf;
}
.modal-adding form {
	display: flex;
	flex-direction: column;
	
}
.modal-adding label {
	font-weight: 900;
	margin: 10px 0 5px 0;
}
.modal-adding input {
	box-shadow: #f0e3e3 5px 10px 5px;	
}
#title, #category{
	width: 420px;
	height: 40px;
	margin-bottom: 10px;
}
#modalAddingImg, #modalGallery {
	display: none;
}
.modal-img + i {
	font-size: 50px;
	color: white;
	background-color: black;
	z-index: 1000;
	position: fixed;
	top: 190px;
	right: 845px;
	height: 15px;
	width: 12px;
}
.fa-image {
	font-size: 4em;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Styles pour la modale d'ajout */
.modal-add-content {
	padding: 20px;
}

.modal-add-content form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.upload-area {
	border: 2px dashed #ccc;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	background-color: #f8f9fa;
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.upload-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.upload-icon {
	font-size: 48px;
	color: #ccc;
}

.upload-area input[type="file"] {
	display: none;
}

.upload-label {
	cursor: pointer;
	color: #1D6154;
	font-weight: bold;
	background-color: #CBD6DC;
	padding: 10px 20px;
	border-radius: 25px;
	border: none;
	display: inline-block;
}

.upload-label:hover {
	background-color: #B1C2D1;
}

.upload-info {
	color: #666;
	font-size: 12px;
	margin: 0;
}

.image-preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	display: none;
}

.image-preview img {
	max-width: 90%;
	max-height: 180px;
	object-fit: contain;
	border-radius: 5px;
}

.delete-work-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	background: black;
	color: white;
	border: none;
	padding: 5px;
	cursor: pointer;
	border-radius: 3px;
}

.modal-gallery figure {
	position: relative;
}

.filter-btn.active {
	background-color: #1D6154;
	color: white;
}

.modify {
	display: none;
}

